Fieldset {
  border: none;
  margin: 0;
  padding: 0;
}

Fieldset legend {
  font-size: 1.5rem;
  font-weight: bold;
  padding: 0.5rem;
  background-color: #f2f2f2;
  border-radius: 5px;
  margin-bottom: 1rem;
}


.container-login100-form-btn {
  display: flex;
  justify-content: center;
  margin-top: 2rem;
}

.avaliacao-form-btn {
  width: 50%;
  height: 3rem;
  background-color: #4CAF50;
  color: white;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}


.wrap-login100{
  width: auto;
}

.flex-container {
  display: flex;
  justify-content: space-between;
  margin-top: 5px;
}


.container-avaliacao{
  min-height: auto;
  display: -webkit-box;
  display: -webkit-flex;
  display: -moz-box;
  display: -ms-flexbox;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  padding: 15px;
  box-sizing: border-box;
}

.wrap-avaliacao{
  border-radius: 16px;
    background: #E6E6E6;
    overflow: hidden;
    padding: 28.2px 33px 19.8px 33px;
  box-shadow: 0 5px 10px 0px rgba(0, 0, 0, 0.1);
}
.avaliacao-form{
  width: 100%;
}