#header{
  margin:0;
  background: #6D0467;
backdrop-filter: blur(20px);
height: 92.8px;
padding-top: 16px;
}
body{
  background: #E6E6E6;
backdrop-filter: blur(20px);
margin: 0;
}
html{
  margin: 0;
}
#root{
margin: 0;
}
#ul-nav{
  
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 100%;
  justify-content: space-around;
}
li{
  display: inline-block;
}
#limiter{
  margin: 0;
  
}
#logo-profile{
  width: 202.4px;
height: 57.6288px;
flex-shrink: 0;
}
#li-perfil{
  display: flex;
  align-items: center;
}
#perfil{
  display: flex;
width: 115.2px;
height: 25.6px;
flex-direction: column;
justify-content: center;
flex-shrink: 0;

color: #000;
text-align: center;
font-family: Rubik;
font-size: 19.2px;
font-style: normal;
font-weight: 400;
line-height: normal;
}
#pesquisar {
  position: relative;
  width: 518.4px;
  height: 51.2px;
  flex-shrink: 0;
  border-radius: 8px;
  background: #FFF;
  
  color: #B3B6B6;
  font-family: Rubik;
  font-size: 12.8px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  text-align: center;
  margin-right: 16px;
}
#icone-pesquisa {
  position: absolute;
  left: 384px;
  top: 32.8px;
  width: 25.6px;
  height: 25.6px;
  flex-shrink: 0;
}
#button-buscar{
  width: 115.2px;
height: 51.2px;
flex-shrink: 0;
border-radius: 8px;
background: #000;
color: #FFF;
text-align: center;
font-family: Rubik;
font-size: 19.2px;
font-style: normal;
font-weight: 600;
line-height: normal;
margin-right: 12px;
}
nav{
  display: flex;
  justify-content: space-between;
}
#avatar-navbar{
  width: 52.8px;
height: 51px;
flex-shrink: 0;
cursor: pointer;
}
#configs{
  width: 37.6px;
height: 38.4px;
flex-shrink: 0;
}
.painelPerfil{
  display: flex;
  justify-content: space-between;
flex-shrink: 0;
margin: 0;
background: #E6E6E6;}
#profile{
  width: 533.6px;
height: 139.199px;
flex-shrink: 0;
margin-top: 16.8px;
margin-left: 28.8px;
}
#avatar-painel{
  display: inline-block;
width: 104px;
height: 104px;
justify-content: center;
align-items: center;
flex-shrink: 0;

}
#nome{
  display: inline-block;
  margin-bottom: 8px;
height: 36px;
flex-shrink: 0;
text-align: center;
color: #6D0467;
font-family: Rubik;
font-size: 38.4px;
font-style: normal;
font-weight: 500;
line-height: normal;

}
#perfil-infos{
  display: inline-block;
  padding: 12px;
  text-align: center;
}
#ponto{
  width: 12.8px;
height: 12.8px;
flex-shrink: 0;
margin-right: 0;
}
#funcao{
  margin-left: 7.2px;
  width: 110.4px;
height: 31.2px;
flex-shrink: 0;
color: #000;
font-family: Rubik;
font-size: 16px;
font-style: normal;
font-weight: 300;
line-height: 150%; /* 36px */
}
#infoProfile{
  margin: 0;
  display: flex;
height: 157.2px;
padding: 17.28px 28.8px;
align-items: flex-start;
gap: 36px;
border-radius: 0px 0px 0px 48px;
border-left: 2.4px solid #F47920;
border-bottom: 2.4px solid #F47920;
background: #E6E6E6;
box-shadow: 0px 3.2px 3.2px 0px rgba(0, 0, 0, 0.25);
}
#tempoEmpresa{
  display: flex;
flex-direction: column;
align-items: center;
margin: 1.6px;
}
#img-eSemente{
  width: 52.64px;
height: 53.402px;
}
#eSement-Txt{
  display: flex;
width: 96.24px;
height: 25.785px;
flex-direction: column;
justify-content: center;
flex-shrink: 0;
color: #000;
text-align: center;
font-family: Rubik;
font-size: 12px;
font-style: normal;
font-weight: 500;
line-height: 150%; /* 18px */
letter-spacing: 0.6px;
text-transform: uppercase;
}
#eSemente-Txt2{
  display: flex;
width: 73.014px;
height: 21.878px;
flex-direction: column;
justify-content: center;
flex-shrink: 0;
color: #000;
text-align: center;
font-family: Rubik;
font-size: 20px;
font-style: normal;
font-weight: 700;
line-height: 150%; /* 27px */
}

#Segunda-parte{
  display: flex;
  justify-content: space-between;
  margin-top: 90px;
}


#ultimasAvaliacoes{
  
flex-shrink: 0;
border-radius: 16px 16px 0px 0px;
border-top: 2.4px solid #F47920;
border-right:2.4px solid #F47920;
background: #E6E6E6;
}

#carreiras{
  
flex-shrink: 0;
border-radius: 16px 0px 0px 0px;
border-top: 2.4px solid #F47920;
border-left:2.4px solid #F47920;
background: #6D0467;
display: flex;
}
#avaliacoesTitulo{
  margin-left:60.2px;
  margin-right: 40px;
  width: 280px;
  height: 48px;
  flex-shrink: 0;
  border-bottom-left-radius: 8px;
  border-bottom-right-radius: 8px;
background: #F47920;
}
#carreirasTituloContainer{
  position: absolute;
  margin-left: 100.2px;
  width: 240px;
  height: 48px;
  flex-shrink: 0;
  
  border-bottom-left-radius: 8px;
  border-bottom-right-radius: 8px;
  border-right: 2.4px solid #F47920 ;
  border-left: 2.4px solid #F47920 ;
  border-bottom: 2.4px solid #F47920 ;
  background: #6D0467;
}
#avaliacoesRecebidas{
  display: flex;
width: 280px;
height: 28.8px;
flex-direction: column;
justify-content:left;
flex-shrink: 0;
color: #E6E6E6;
text-align:center;
font-family: Rubik;
font-size: 19.2px;
font-style: normal;
font-weight: 600;
line-height: 150%; /* 36px */
}
#carreirasTitle{
  display: flex;
  width: 240px;
  height: 28.8px;
  flex-direction: column;
  justify-content:left;
  flex-shrink: 0;
  color: #E6E6E6;
  text-align:center;
  font-family: Rubik;
  font-size: 19.2px;
  font-style: normal;
  font-weight: 600;
  line-height: 150%; /* 36px */ 
}
#tableCarreira{
  display: flex;
  margin-top: 56px;
  margin-left: 100px;
}
.textoCarreiras{
  color: #E6E6E6;
font-family: Rubik;
font-size: 17.6px;
font-style: normal;
font-weight: 400;
line-height: 120%; /* 34.56px */

display: flex;
width: 364.8px;
height: 48px;
flex-direction: column;
justify-content: center;
flex-shrink: 0;
margin-top: 20px;
margin-bottom: 10px;
height: 36px;
}
.carreiraIcon{
  width: 30px;
height: 31.2px;
flex-shrink: 0;
margin-right: 16px;
margin-top: 20px;
margin-bottom: 10px;
}
tr{
  height: 16px;
}

.btnCarreiras{
  margin-bottom: 30px;
  border-radius: 64px;
  width: 246.4px;
height: 57.6px;
flex-shrink: 00;
border: 2.4px solid #2B9BE4;
color: #2B9BE4;
text-align: center;
font-family: Rubik;
font-size: 19.2px;
font-style: normal;
font-weight: 500;
line-height: normal;
margin-left: 64px;

}
#ultimaAvaliacao{
  display: flex;
  align-items: center;
  justify-content: center;
  margin-top: 8px;
}
.skillIcon{
  width: 16px;
height: 16px;
flex-shrink: 0;
color: #ffffff;
margin: 8px;
}

.skillTitle{
  margin-right: 16px;
  display: inline-flexbox;
  width: 76.8px;

  color: #6D0467;

font-family: Rubik;
font-size: 19.2px;
font-style: normal;
font-weight: 400;
line-height: 150%; /* 28.8px */
}

.skillResult{
  color: #F47920;
  margin: 8px;
  justify-self: center;

width: 76.8px;
font-family: Rubik;
font-size: 19.2px;
font-style: normal;
text-align: center;
font-weight: 400;
line-height: 150%; /* 28.8px */
}

#commentResult{
  width: 144px;
  font-size: 18px;
}
#search-results{
  position: absolute;
  background-color: white;
  width: 518.4px;
  height: 250px;
  border-bottom-left-radius: 8px;
  border-bottom-right-radius: 8px;
  padding: 12px;
  border: 2.4px solid #D3D3D3
}

.search-results {
  height: 160px;
  overflow-y:scroll;
  scrollbar-width: 10px;
  box-sizing:border-box;
}

.search-result-item {
  padding: 4px;
  margin: 4px;
  margin-bottom: 16px;
}
.trSearch{
  display: flex;
  width: 448px;
  align-items: center;
  justify-content: space-around;
}
#pesquisar.search-term-long {
  border-bottom-left-radius: 0px;
  border-bottom-right-radius: 0px;
}
.tdSearch{
  width: 200px;
}
.spanPurple{
  margin-right: 4px;
  color: #6D0467;

font-family: Rubik;
font-size: 18px;
font-style: normal;
font-weight: 400;
line-height: 150%; 
}
#buttonAvaliar{
  width: 80px;
border-radius: 8px;
background: #F47920;
color: #FFF;
text-align: center;
font-family: Rubik;
font-style: normal;
font-weight: 600;
line-height: normal;
border: solid 2px #6D0467;
}
#btnAvaliacoes{
  margin-bottom: 30px;
  border-radius: 64px;
  width: 246.4px;
  height: 57.6px;
  flex-shrink: 00;
  border: 2.4px solid #F47920;
  color: #F47920;
  text-align: center;
  font-family: Rubik;
  font-size: 19.2px;
  font-style: normal;
  font-weight: 500;
  line-height: normal;
  margin-left: 100px;
  margin-top: 15px;
}